@model IEnumerable<SAS.TOOLS.DTO.SAS_ACCIONES_DTO>


@{

    ViewBag.Title = "Index";

}


&nbsp;
&nbsp;
&nbsp;

<form method="post">
    <input type="text" name="idAccion" id="txtIdAccion" placeholder="ID ACCION" />
    <button type="submit">Enviar ID</button>
</form>


&nbsp;


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID_ACCION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ACCION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NOMBRE_ACCION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DESC_ACCION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID_SISTEMA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.APLICACION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CAPA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VIGENTE)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td> 
            @Html.DisplayFor(modelItem => item.ID_ACCION) 
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ACCION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NOMBRE_ACCION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DESC_ACCION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ID_SISTEMA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.APLICACION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CAPA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VIGENTE)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ })
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ })
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
